*                 @fiskaltrust/team-site-reliability-engineering-and-platform-operations
/middleware/      @fiskaltrust/team-poscreator-experience
/instoreapp/      @fiskaltrust/team-instoreapp-experience
/portal/          @fiskaltrust/team-posdealer-experience
/digital-receipt/ @fiskaltrust/team-receipt-and-payment-experience
